<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!DOCTYPE html>
<html>
<head>
  <title>Error <%= code %></title>
</head>
<body>
  <h1>Error <%= code %></h1>
  <p><%= message %></p>
  <a href="/">Go back to Home</a>
</body>
</html>